body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
	background: #121c27;
}
html,body{
	height: 100%;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
/*header*/
.head {
	position: relative;
	height: 100px;
}
.header{
	width: 1200px;
	margin: 0 auto;
}
.head-left{
	float: left;
}
.head-right{
	float: right;
}
/*gouwulan*/
.gouwu{
	background: url(../img/cs-bg2.jpg) no-repeat;
	background-size: 100%;
}
